<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
            <!-- Filter starts -->
            <div class="users-list-filter px-2">
                <form>
                    <div class="row border rounded py-2 mb-2 mx-n2">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <label for="users-list-verified">Status</label>
                            <fieldset class="form-group">
                                <select id="users-list-verified" class="form-control">
                    <option value="">Todos</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                            </fieldset>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <label for="users-list-role">Creado por</label>
                            <fieldset class="form-group">
                                <select id="users-list-role" class="form-control">
                    <option value="">Todos</option>
                    <option value="User">User</option>
                    <option value="Staff">Staff</option>
                  </select>
                            </fieldset>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <label for="users-list-status">Asignado a</label>
                            <fieldset class="form-group">
                                <select id="users-list-status" class="form-control">
                    <option value="">Todos</option>
                    <option value="Active">Active</option>
                    <option value="Close">Close</option>
                    <option value="Banned">Banned</option>
                  </select>
                            </fieldset>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                            <button type="reset" class="btn btn-success round mr-1 mb-1 _ngcontent">
                  +
                </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Filter ends -->
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <!-- ngx-datatable-filter -->
                        <fieldset class="form-group">
                            <label>Mostrar
                              <select name="users-list-select"
                                class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                (click)="updateLimit($event)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                              entradas</label>
                            <label for="ngx-filter-ref" class="float-right">Buscar:
                                <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
                  type="text" (keyup)="filterUpdate($event)" />
                                </label>
                        </fieldset>
                        <!--Inputbuscar termina-->
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true">
                            <ngx-datatable-column name="CORPORATIVO" prop="S_LogoURL" [width]="150">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div><img src="{{row.S_LogoURL}}" height="32" width="32" /></div>
                                    <div>{{row.S_NombreCorto}}<br>{{row.S_NombreCompleto}}</div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="URL" prop="S_SystemURL" [width]="150">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a routerLink="devschoolcloud.com/sa/#/{{row.S_SystemURL}}">{{row.S_SystemURL}}</a>
                                </ng-template>>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="INCORPORACION" prop="D_FechaIncorporacion" [width]="150">
                                <ng-template let-row="row" ngx-datatable-cell-template>{{row.D_FechaIncorporacion}}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="ASIGNADO A" prop="FK_Asignado_id" [width]="150">
                                <ng-template let-row="row" ngx-datatable-cell-template>{{row.FK_Asignado_id}}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="STATUS" prop="S_Activo" [width]="150">
                                <ng-template let-row="row" ngx-datatable-cell-template>{{row.S_Activo}}</ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="ACCIONES" [width]="150">
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <a routerLink="/corporativos/detalle/{{row.id}}"><i class="ft-eye text-primary cursor-pointer"></i></a>
                                    <a routerLink=""><i class="ft-check-square text-primary cursor-pointer"></i></a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                        <!-- ngx-datatable-filter -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Filter Datatables -->